<!--<app-demo-agl></app-demo-agl>-->
<!--<app-pet></app-pet>-->
<!--<app-product></app-product>-->
<!--<app-calculator></app-calculator>-->
<!--<app-color></app-color>-->
<!--<app-article></app-article>-->
<!--<app-name-card [cardName]="Abc" email="Tiendung2020japan@gmail.com" phone="0336649514"></app-name-card>-->
<!--<app-progress-bar [progress]="0" ></app-progress-bar>-->
<!--<app-rating-bar-component></app-rating-bar-component>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-ak88></app-ak88>-->
<!--<app-todo></app-todo>-->
<!--<app-validators></app-validators>-->
<!--<h2> App Component </h2>-->
<!--{{todayDate}}-->
<!--<app-test-service></app-test-service>-->
<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>
<hr>
<a routerLink="/youtube">Youtube</a>
<hr>
<a routerLink="/products">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a>
<hr>
<a routerLink="dictionarys">Ds TỪ ĐIỂN </a>
<div>
  <router-outlet></router-outlet>
</div>
