<div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>Sửa</h1>
      <form [formGroup]="bookForm" (ngSubmit)="update()">
        <table>

          <tr>
            <td> Chủ đề:</td>
            <td><input type="text" formControlName="title" value="{{book?.title}}" ></td>
          </tr> <tr>
          <tr>
            <td> Tác giả:</td>
            <td><input type="text" formControlName="author" value="{{book?.author}}" ></td>
          </tr> <tr>
          <td> Nội dung :</td>
          <td><textarea type="text" formControlName="description" value="{{book?.description}}"></textarea></td>
        </tr>
        </table>
        <button class="btn bg-primary" > Update</button>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
